<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:replace="$(title)">(default title)</title>
</head>
<body>
<h1>課題管理アプリケーション!!</h1>
<ul>
    <div th:insert="${content"></div>
</ul>
</body>
</html>